branches/geoengine-1.0/geoprocess/src/main/resources/schemaorg_apache_xmlbeans/src/processingMeta.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Fengm (EMBRACE) -->
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<schema xmlns:geo="http://www.geodata.cn/models/geoprocessing" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.geodata.cn/models/geoprocessing" elementFormDefault="qualified">
	<element name="model" type="geo:modelType"/>
	<complexType name="modelType">
		<sequence>
			<element name="id" type="string"/>
			<element name="title" type="string"/>
			<element name="metadata" type="anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<element name="provider" minOccurs="0">
				<complexType>
					<choice>
						<element name="IndividualName" type="string" minOccurs="0"/>
						<element name="OrganisationName" type="string" minOccurs="0"/>
						<element name="PositionName" type="string" minOccurs="0"/>
						<element name="Role" type="string" minOccurs="0"/>
						<element name="ContactInfo" minOccurs="0">
							<complexType>
								<sequence/>
							</complexType>
						</element>
					</choice>
				</complexType>
			</element>
			<element name="describe" type="string" minOccurs="0"/>
			<element ref="geo:process" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="processType">
		<sequence>
			<element name="id" type="string"/>
			<element name="title" type="string"/>
			<element name="describe" type="string" minOccurs="0"/>
			<element name="tags" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<element name="metadata" type="anyURI" minOccurs="0" maxOccurs="unbounded"/>
			<element name="inputs" type="geo:inputsType"/>
			<element name="outputs" type="geo:outputsType"/>
		</sequence>
	</complexType>
	<complexType name="inputsType">
		<sequence>
			<element name="input" type="geo:valueType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="valueType">
		<sequence>
			<element name="id" type="string"/>
			<element name="title" type="string"/>
			<element name="describe" type="string" minOccurs="0"/>
			<element name="tags" type="string" minOccurs="0"/>
			<element name="crs" type="string" minOccurs="0"/>
			<element name="metadata" type="anyURI" minOccurs="0"/>
			<element name="category" type="string" maxOccurs="unbounded"/>
			<element name="occurs" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="outputsType">
		<sequence>
			<element name="output" type="geo:valueType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="process" type="geo:processType"/>
</schema>
